@import "tailwindcss";

@theme {
  --color-background: #131318;
  --color-on-surface: #e4e1e9;
  --color-surface-container-highest: #35343a;
  --color-surface-container-high: #2a292f;
  --color-surface-container: #1f1f25;
  --color-surface-container-low: #1b1b20;
  --color-surface-container-lowest: #0e0e13;
  --color-surface-variant: #35343a;
  
  --color-primary: #adc7ff;
  --color-on-primary-container: #3385ff;
  --color-on-primary: #002e68;
  --color-tertiary: #abd600;
  --color-error: #ffb4ab;
  
  --color-on-surface-variant: #c4c6d0;
  --color-outline-variant: #44474f;
  
  --font-headline: "Lexend", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    font-feature-settings: "rlig" 1, "calt" 1;
    min-height: 100vh;
  }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hide-scrollbar::-webkit-scrollbar { 
    display: none; 
}
